
body
{
	margin-left: 60px;
	border-width:1px;
	border-style:solid;
	border-color:grey;
	background-image: url(fondindex.jpg);
	//Sans cet ajout la photo de fond fonctionne correctement
	background-repeat: repeat-y;
}


ul
{
margin-left: auto;
margin-right: auto;
border: solid 1px black;
width: 31%;
height:100%;

}

li	
{
display: inline-block;
text-decoration: none;
color: blue;
}


#logo
{
position: absolute;
top: 2%;
width: 5%;
}

h1
{
	color: white;
	background-color: grey;
}


footer
{
	background-color: #A2ACA8;
	position: absolute;
	top: 72%;
	float: left;
	
}

	
#a
{
	text-decoration: none;
	color: white; 
}


table
{
	border: medium solid #000000; 
	width: 50%;
	margin: auto;
}


td
{
	border: thin solid #6499ed;
	width: 50%;
}


#exp
{
	color: black;
}


#imgloisir
{
	margin-top: 10px;
	width: 40%;
	float: left;
}

h2
{
	margin-left:  45%;
	}
	

#liensfav {
	border-width:1px;
	border-style:solid;
	border-color:grey;
}